# Database
DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/taskdb

# JWT Settings
SECRET_KEY=supersecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# App
APP_ENV=development

# Seed (optional)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=changeme123
MANAGER_EMAIL=manager@example.com
MANAGER_PASSWORD=changeme123
USER_EMAIL=user@example.com
USER_PASSWORD=changeme123
